.medical_details_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 697px; */
  align-items: flex-start;
  align-content: flex-start;
  gap: 15px 70px;
  /* margin-top: 30px;
  margin-left:54px;
  margin-right:68px; */
  padding: 25px 0px 10px 54px;

}

.detail_item {
  font-size: 14px;
  color: #444;
}

.detail_item label {
  color: #777777;
  /* font-family: "Segoe UI Variable"; */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;

}

.detail_item strong {
  color: #000000;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.phone {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 210px;
}

.phone strong {
  flex: 1;
  width: 169px;
}

.call_icon {
  display: flex;
  width: 24px;
  height: 23.2px;
  justify-content: center;
  align-items: center;
}

.call_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.call_btn:hover {
  background: #2c3e9d;
}

.files {
  display: flex;
  gap: 6px;
  align-items: center;
}

.file_icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.download_icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.file_icon img,
.download_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}


.medical_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px
}