.previous_header_text_icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.previous_header_text {
  font-size: 16px;
  font-weight: 600;
  color: #2D2D2D;
  margin: 0;
}

.previous_record_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.cellLeft {
  flex: 1;
  text-align: left;
}

.cellRight {
  flex: 1;
  text-align: right;
      width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.label {
  font-size: 13px;
  color: #777777;
  font-weight: 600;
  display: block;
}

.cellLeft strong,
.cellRight strong {
  display: inline-block;   
  min-width: 142px;       
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  text-align: left;        
}

.cellRight strong {
  text-align: right;      
}


.cellRight svg {
  margin-top: 4px;
  font-size: 18px;
  color: #000;
}

.file_icon {
  justify-content: end; 
  height: 100%;
}

.file_icon img {
  width: 28px;      
  height: 28px;
  cursor: pointer;  
}

